<style>
.categories {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 24px;
  transition: max-height 1s ease-in-out;
}

.category-item {
    list-style-type: none;
    margin-right: 10px;
    height: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
}

#showMore {
  display: none;
}

#showMore:checked ~ .categories {
  max-height: 500px;
}
@media (max-width: 730px){
    #showMore:checked ~ .categories {
      max-height: 1200px;
    }
}

#showMore:checked ~ #showLabel {
  display: none;
}

#showMore:checked ~ #hideLabel {
  display: inline;
}

#hideLabel {
  display: none;
}
</style>

<input type="checkbox" id="showMore">

<ul class="categories">
    {% for category in categories %}
        <li class="category-item"><a href="{% url 'find_managers' category_name=category.title %}">{{ category.title }}</a></li>
    {% endfor %}
</ul>
<div class="categories-btn">
    <label id="showLabel" for="showMore">показать / скрыть </label>
</div>




