{% extends 'base.html' %}

{% block main %}
    {% include 'channel/inc/categories.html' %}

    <div class="caption" style="text-align: center; margin-bottom: 15px;">
        <div style="font-size: 26px; font-weight: bold; margin-top: 20px;">{{ category.title }}</div>
        <div>Найдено каналов: {{ channels|length }}</div>
        {% include 'channel/inc/find_managers_form.html' %}
    </div>


    <div class="find_managers_feed">

        {% include 'channel/inc/find_managers_history_list.html' %}
        {% include 'channel/inc/find_managers_list.html' %}
        {% include 'channel/inc/find_managers_buyer_form.html' %}

    </div>


{% endblock %}