{% extends 'base.html' %}

{% block main %}
    {% include 'channel/inc/categories.html' %}

    <div class="caption" style="text-align: center; margin-bottom: 15px;">
        <div style="font-size: 26px; font-weight: bold; margin-top: 20px;">{{ category.title }}</div>
        <div>Найдено каналов: {{ channels|length }}</div>
    </div>

    {% include 'channel/inc/find_managers_form.html' %}

    <div>Найдено менеджеров: {{ managers|length }}</div>
    <ol class="manager-list">
        {% for manager in managers %}
        	<li><a href="tg://resolve?domain={{ manager.username|cut:"@" }}"><img src="https://telegram.org/img/favicon-16x16.png" alt=""></a>{{ manager.username }}</li>
        {% endfor %}
    </ol>

{% endblock %}