<header>

    <div class="left no-select">
{#        <div class="logo">#}
{#            <img src="https://telegram.org/img/favicon.ico" alt="">#}
{#        </div>#}
        <div class="title">
            <div class="colored">T</div>
            <div>ele</div>
            <div class="colored">D</div>
            <div>ata</div>
            <div class="beta">beta</div>
        </div>

    </div>

    <div class="right">
        <ul class="nav no-select">
            {#<li><a href="">Главная</a></li>#}
        </ul>

{#        <a href="" class="account-btn no-select">Аккаунт</a>#}
    </div>
</header>